body {
  font-family: 'Noto Sans KR', sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .tablet-hidden {
    display: none;
  }
}

@media (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }
}

.table {
  overflow: hidden;
}

.table__cell {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  border-top: solid 1px #101010;
  border-right: solid 1px #101010;
}

.table__cell--x2 {
  width: 50%;
  list-style: none;
}

.table__cell--x3 {
  width: 75%;
}

@media (max-width: 767px) {
  .table__cell {
    width: 100%;
    border: 0;
    border-bottom: solid 1px #101010;
  }
}

.table__img-box {
  text-align: center;
}

.table__image {
  height: calc(25vw - 80px);
  min-height: 173px;
}

.table__text {
  font-size: 1.125em;
  font-weight: bold;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

@media (max-width: 767px) {
  .table__text {
    font-size: 0.9375em;
  }
}

.navigation {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  width: 56px;
  height: 56px;
  float: left;
}

.logo__img {
  width: 100%;
  height: 100%;
}

.gnb {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .gnb {
    display: none;
  }
}

.category__item {
  float: left;
  margin: 0 3vw;
}

.member {
  font-size: 0.875em;
  font-weight: 400;
}

.member__item {
  float: left;
  margin: 0 1.5vw;
}

.footer {
  background-color: #101010;
  color: #939495;
  padding: 50px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__title {
  font-weight: bold;
}

.footer__list {
  margin: 30px 0 50px;
}

.footer__item {
  font-size: 0.875em;
  margin-top: 10px;
}

.footer__rule {
  border: solid 1px #939495;
  margin-bottom: 26px;
}

.header {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gnb {
  color: #101010;
}

.order {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order__wrap {
  width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__title {
  font-size: 3.125em;
}

.order__color {
  font-weight: bold;
  font-size: 18px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 72px;
}

.order__color-box {
  text-indent: -9999px;
}

.order__color-picker {
  border-radius: 48%;
  width: 30px;
  height: 30px;
  float: left;
}

.order__color-white {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px #707070;
  margin-right: 16px;
}

.order__color-black {
  background-color: #000;
}

.order__button {
  font: 900 1.3125em "Roboto";
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__button-buy {
  background-color: #101010;
  color: #fff;
  margin: 40px 0 16px;
}

.order__button-cart {
  border: solid 1px #707070;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  width: 100%;
  background-position: center;
}

.content__container {
  width: 950px;
  margin: 0 auto;
}

.content__title {
  font-size: 3em;
}

.content__subtitle {
  margin-top: 32px;
  color: #c3c3c3;
  font-size: 1.5em;
}

.content01 {
  text-indent: -9999px;
  background-image: url(../images/scooter/scooter-01.jpg);
  height: 480px;
}

.content02 {
  background-image: url(../images/scooter/scooter-02.jpg);
  color: #fff;
  overflow: hidden;
}

.content02__container {
  height: 1199.5px;
  position: relative;
}

.content02__txt-box {
  width: 400px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.content02__title {
  font-size: 3.75em;
}

.content02__subtitle {
  margin-top: 24px;
}

.content02__horizental-rule {
  margin: 70px 0 56px;
  background-color: #707070;
  width: 100px;
  height: 4px;
}

.content02__text {
  font-size: 1.5em;
  line-height: 2.8;
}

.content03__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 160px auto 100px;
}

.content03__img-box {
  margin: 100px 0;
}

.content03__list {
  font-size: 2.125em;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content03__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 90px 0;
  width: 50%;
}

.content03__item:nth-child(1), .content03__item:nth-child(2) {
  border-bottom: solid 2px #f2f2f2;
}

.content03__item:nth-child(1), .content03__item:nth-child(3) {
  border-right: solid 2px #f2f2f2;
}

.content04 {
  background-image: url(../images/scooter/scooter-04.jpg);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content04__box {
  width: 33.3333%;
  height: 100vh;
  background-color: #000000b3;
}
/*# sourceMappingURL=scooter.css.map */