@charset "utf-8";

.navigation {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  width: 56px;
  height: 56px;
  float: left;
  position: relative;
  left: 5px;

  &__img {
    width: 100%;
    height: 100%;
  }
}

.gnb {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 20px;

  @include mobile {
    display: none;
  }
}

.category {

  &__item {
    float: left;
    margin: 0 30px;
  }
}

.member {

  &__item {
    float: left;
    margin: 0 15px;
  }
}