// Media Query
@mixin tablet {
  @media (max-width: 1023px) {
    @content;
  };
}
@mixin mobile {
  @media (max-width: 767px){
    @content;
  };
}

// px to em
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// px to vw
@function get-vw($target) { 
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

// color
$white: #fff;
$black: #101010;
$dark-gray: #727272;
$light-gray: #f2f2f2;
$gray-in-black: #9e9e9e;

@mixin flex($d:flex, $j:center, $a:center) {
  display: $d;
  justify-content: $j;
  align-items: $a;
}