@charset "utf-8";

@import "variables";
@import "common";
@import "navigation";
@import "footer";

.header {
  height: 770px;
  background-image: url(../images/phones/header.jpg);
  background-position: 50%;
}

.goods {

  &__item {

    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(8) {
      border-right: 0;
    }
  }
}